<h3>Créditos</h3>
<h4>Datos del autor</h4>
<p>Autor del web site: Martín Iglesias Fernández</p>
<p>Lugar de nacimiento: Avilés (Asturias)</p>
<p>Fecha de nacimiento: 05/07/1977</p>
<p>Sexo: Masculino</p>
<p>Profesión: Técnico Súperior en Desarrollo de Aplicaciones Informáticas de Gestión</p>
<p>Empresa: Bilbomática Madrid S.A.</p>
<br>
<img src="/images/foto_martin.jpg" alt="Martín Iglesias Fernández">